<section id="timeline">
    <div class="bg-timeline">
        <div class="overlay">
            <div class="timeline is-centered timeline-wrapper container">
                <header class="timeline-header">
                    <span class="tag is-medium is-primary">Start - Januar</span>
                </header>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 00 - Pre-Planning</p>
                        <p>Vi møttes I starten av januar for å finne ut hvordan og hva vi skulle jobbe med. Vi gjennomførte brainstorming både sammen og individuelt, og gikk gjennom alle ideene sammen for valg av prosjektets mål. Vi bestemte oss også for å ha to gruppemøter i hver sprint (uke). En i starten av sprinten og en i midten av den. </p>

                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 0 - Planning</p>
                        <p>Grunnverk for Angular og .NET ble satt opp. Vi satt også opp database på Azure og Github. Store deler av sprinten gikk også til kursing i Angular og .NET</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Prosjektskisse innlevering</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 1</p>
                        <p>Userstories for prosjektet ble laget. Nødvendig programvare for utvikling ble installert og satt opp i fellesskap. Vi laget også en plan for hva rapporten skulle inneholde.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 2</p>
                        <p>I løpet av Sprint 2 ble «Scrum Planning Poker» gjennomført og userstories dermed sortert. Vi sorterte dem etter hva som var viktigst å gjøre først (prioritet) og med tanke på hvor lang tid hver oppgave ville ta. </p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Prosjektbeskrivelse innlevering</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Februar</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 3</p>
                        <p>Utvikling ble startet for fullt, og rapporten ble startet på.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Milestone 1</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 4</p>
                        <p>Gjennom Sprint 4 diskuterte vi løsninger for design. Vi tok også inspirasjon fra tidligere bachelor innleveringer vi har fått utdelt. Etter planlegging i denne sprinten og fremtidige sprinter vil det være fokus på samkjøring for frontend og backend, vi opprettet derfor dokumentasjon på APIet vi lager. </p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 5</p>
                        <p>I denne sprinten diskuterte gruppen GDPR og norske personvernsregler sin effekt på prosjektet og hvordan vi skal forholde oss til dette.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 6</p>
                        <p>Vi jobbet med mange utfordringer i denne sprinten, blant annet SignalR som brukes for hovedfunksjonaliteten i web-appen for sanntidskommunikasjon. Det ble også startet på presentasjon til Milestone 2.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 7</p>
                        <p>I Sprint 7 ble userstoriene med prioritet 1 fullført, som var en intern milestone vi hadde satt i gruppen. Vi diskuterte også om vi i tillegg til å lage «Playfu», skal undersøke om Playfu kan forventes å være suksessfullt kommersielt. Det ble avgjort at dette evt. kan være en liten del av rapporten, men ikke være noe stort fokus.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Mars</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Milestone 2</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 8</p>
                        <p>I starten av sprinten ble det planlagt at Sprint 8 skal være dedikert til å fullføre Lobby-funksjonaliteten. Lobbyen er en sentral del av Playfu og har derfor mange funksjonaliteter som må fungere.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 9</p>
                        <p>Startet på funksjonaliteten med ekstern autentisering, i vårt tilfelle er dette Discord og Steam. Vi begynte også å fokusere på de mindre prioriterte userstoriene.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 10</p>
                        <p>Denne sprinten ble nedprioritert pga andre emner. Utover dette fortsatte vi med oppgaver fra forrige sprint.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 11</p>
                        <p>Testplan ble opprettet. Vi fullførte også funksjonalitet for Steam og Discord etter flere utfordringer. hovedfunksjonaliteten med lobby ble også fullført, men ble senere forbedret.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">April</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 12</p>
                        <p>Det ble videre jobbet med testing og testplan. I tillegg opprettet en Discord applikasjon(bot). Vi satte sikkerheaders og ordnet problemer vi hadde med CORS.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 13</p>
                        <p>Generelle forbedringer og bugfiksing over applikasjonen var i fokus denne sprinten. Dette var fordi vi skulle klargjøre for selvtest og brukertesting de neste sprintene.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 14</p>
                        <p>Vi startet sprinten med en gjennomgående selvtest i forberedelse for brukertesting. Mot slutten av sprinten inviterte vi venner & bekjente til å teste applikasjonen vår og svare på skjema som var laget.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Milestone 3</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 15</p>
                        <p>I løpet av denne sprinten gjorde vi de siste finishene i applikasjonen som tekstlig innhold og slikt. Rapporten har vært første prioritet denne sprinten. Vi har også utført flere brukertester, som vi ønsker fortsette med til neste sprint.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Mai</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 16</p>
                        <p>Vi har valgt å ha brukertesting frem til siste sprint for å få mest mulig utav testingen. Vi splitter testene mellom fase 1 og fase 2 for å se om brukeropplevelsen blir forbedret etter bugfiksing og forbedringer basert på tilbakemeldinger fra fase 1.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 17</p>
                        <p>Rapporten er nær ferdig i denne sprinten. Vi fikset også opp i flere småfeil som oppsto mellom testing fase 1 og fase 2.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 18</p>
                        <p>Rapporten ferdigstilles.</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-64x64">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Prosjektinnlevering</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
