<section id="timeline">
    <div class="bg-timeline">
        <div class="overlay">
            <div class="timeline is-centered timeline-wrapper">
                <header class="timeline-header">
                    <span class="tag is-medium is-primary">Start - Januar</span>
                </header>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 00</p>
                        <p>Pre-Planning</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 0</p>
                        <p>Planning</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Prosjektskisse innlevering</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 1</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 2</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/checkmark-flat.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Prosjektbeskrivelse innlevering</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Februar</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 3</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/pending-clock.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Milestone 1</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 4</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 5</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 6</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 7</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Mars</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/pending-clock.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Milestone 2</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 8</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 9</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 10</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 11</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">April</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 12</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 13</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/pending-clock.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Milestone 3</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 15</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 16</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 17</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-primary"></div>
                    <div class="timeline-content">
                        <p class="heading">Sprint 18</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-32x32">
                        <img src="../../assets/icons/calendar-icon.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Mai</p>
                    </div>
                </div>
                <div class="timeline-item is-primary">
                    <div class="timeline-marker is-image is-64x64">
                        <img src="../../assets/icons/pending-clock.png">
                    </div>
                    <div class="timeline-content">
                        <p class="heading">Prosjektinnlevering</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
