<section id="project">
    <div class="bg-project">
        <div class="overlay">
            <div class="columns is-desktop p-6">
                <div class="column">
                    <div class="column tile is-ancestor" data-aos="fade-up" data-aos-delay="200">
                        <div class="tile is-child box">
                            <p class="title">Linker</p>
                            <div class="columns is-centered is-vcentered has-text-centered">
                                <div class="column is-one-third">
                                    <a href="https://github.com/sivertheisholt/BOP3000" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/GitHub-Mark-64px.png">
                                        </figure>
                                        <p>Github</p>
                                    </a>
                                </div>
                                <div class="column is-one-third">
                                    <a href="https://trello.com/b/ylIZ9fpx/bop3000" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/trello.png">
                                        </figure>
                                        <p>Trello</p>
                                    </a>
                                </div>
                                <div class="column is-one-third">
                                    <a href="https://bop3000.azurewebsites.net/" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/playfu_icon.png">
                                        </figure>
                                        <p>Applikasjon</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column tile is-ancestor" data-aos="fade-right" data-aos-delay="300">
                        <div class="tile is-child box">
                            <p class="title">Dokumenter</p>
                            <div class="columns is-centered is-vcentered has-text-centered">
                                <div class="column is-one-third">
                                    <a href="../../assets/files/prosjektbeskrivelse.pdf" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/text-documents-line.png">
                                        </figure>
                                        <p>Beskrivelse</p>
                                    </a>
                                </div>
                                <div class="column is-one-third">
                                    <a href="../../assets/files/prosjektskisse.pdf" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/text-documents-line.png">
                                        </figure>
                                        <p>Skisse</p>
                                    </a>
                                </div>
                                <div class="column is-one-third">
                                    <a href="" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/contract.png">
                                        </figure>
                                        <p>Kontrakt</p>
                                    </a>
                                </div>
                            </div>
                            <div class="columns is-centered is-vcentered has-text-centered">
                                <div class="column is-one-third">
                                    <a href="" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/text-documents-line.png">
                                        </figure>
                                        <p>Milestone 1</p>
                                    </a>
                                </div>
                                <div class="column is-one-third">
                                    <a href="" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/text-documents-line.png">
                                        </figure>
                                        <p>Milestone 2</p>
                                    </a>
                                </div>
                                <div class="column is-one-third">
                                    <a href="" target="_blank">
                                        <figure class="image is-48x48">
                                            <img src="../../assets/icons/contract.png">
                                        </figure>
                                        <p>Milestone 3</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-flex tile is-ancestor" data-aos="fade-up" data-aos-delay="350">
                    <div class="tile is-parent">
                        <div class="tile is-child box is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
                            <p class="title">Om Prosjeket</p>
                            <p>Gjennom prosjektet ønsker gruppen å lage en webapplikasjon for et sosialt nettverk for gamere. Denne har vi valgt å kalle Playfu.
                                Prosjektet kombinerer områder som back- og frontend utvikling, design, prosjektarbeid og forretningsuvikling.
                                Vi arbeider etter utviklingsmetodikkene Scrum og Kanban. Planen er å ha en ferdig nettside hvor brukere kan møte andre spillere
                                og koble til Steam og Discord for kommunikasjon og spill.</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>